<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <display-name>test_Dspringmvc</display-name>

    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.properties</param-value>
    </context-param>

    <!--filter start-->
    <filter>
        <filter-name>helloFilter</filter-name>
        <filter-class>com.springmvc.filter.HelloFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>helloFilter</filter-name>
        <url-pattern>/helloFilter/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <!--default is REQUEST-->
    </filter-mapping>

    <!--    <filter>
            <filter-name>encodingFilter</filter-name>
            <filter-class>com.springmvc.filter.EncodingFilter</filter-class>
            <init-param>
                <param-name>charset</param-name>
                <param-value>UTF-8</param-value>
            </init-param>
        </filter>
        <filter-mapping>
            <filter-name>encodingFilter</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>-->

    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <display-name>IPFilter</display-name>
        <filter-name>IPFilter</filter-name>
        <filter-class>com.springmvc.filter.IPFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IPFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--filter end-->

    <!--listener start-->
    <!-- <listener>
         <listener-class>com.springmvc.listener.TestHttpSessionListener</listener-class>
     </listener>

     <listener>
         <listener-class>com.springmvc.listener.TestServletContextListener</listener-class>
     </listener>

     <listener>
         <listener-class>com.springmvc.listener.TestServletRequestListener</listener-class>
     </listener>

     <listener>
         <listener-class>com.springmvc.listener.TestAttributeListener</listener-class>
     </listener>-->
    <!--listener end-->

    <!--servlet start-->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>WEB-INF/dispather-servlet.xml</param-value>
        </init-param>
        <!--contextConfigLocation配置springmvc加载的配置文件(配置处理映射器,适配器等等),
        如果不配置contextConfigLocation,默认加载的是/WEB-INF/servlet_name-servlet.xml(dispatcher-servlet.xml-->
        <!-- <init-param>
             <param-name>contextConfigLocation</param-name>
             <param-value>classpath:springmvc.xml</param-value>
         </init-param>-->
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestMVCServlet</servlet-name>
        <servlet-class>com.springmvc.servlet.TestMVCServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestMVCServlet</servlet-name>
        <url-pattern>/TestMVCServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestServletA</servlet-name>
        <servlet-class>com.springmvc.servlet.TestServletA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServletA</servlet-name>
        <url-pattern>/TestServletA</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestServletB</servlet-name>
        <servlet-class>com.springmvc.servlet.TestServletB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServletB</servlet-name>
        <url-pattern>/TestServletB</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestServletC</servlet-name>
        <servlet-class>com.springmvc.servlet.TestServletC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServletC</servlet-name>
        <url-pattern>/TestServletC</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestCookieA</servlet-name>
        <servlet-class>com.springmvc.servlet.TestCookieA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestCookieA</servlet-name>
        <url-pattern>/TestCookieA</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestCookieB</servlet-name>
        <servlet-class>com.springmvc.servlet.TestCookieB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestCookieB</servlet-name>
        <url-pattern>/TestCookieB</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.springmvc.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>com.springmvc.servlet.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>com.springmvc.servlet.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestAjaxServlet</servlet-name>
        <servlet-class>com.springmvc.servlet.TestAjaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestAjaxServlet</servlet-name>
        <url-pattern>/TestAjaxServlet</url-pattern>
    </servlet-mapping>
    <!--servlet end-->

    <listener>
        <description>spring listener</description>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:applicationContext.xml
        </param-value>
    </context-param>

    <error-page>
        <location>/error.jsp</location>
    </error-page>
</web-app>